body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calcBody {
    width: 400px;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    border: red solid 1px;
    border-radius: 10px;
}

#screen {
    width: 93%;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-right: 20px;
    font-size: 50px;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
}

.calcInside {
    height: max-content;
    width: 15%;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 42px;
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
}

.calcInside:hover {
    background-color: aqua;
    cursor: pointer;
}

#aClear {
    width: 40%;
}

#equals {
    width: 40%;
    margin-bottom: 10px;
}
